@keyframes sideBar {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }
}

@keyframes fechar {
    from {
        width: 250px;
    }
    to {
        width: 0px;
    }
}

@keyframes animacao {
    0%{
        background-color: #20a277;
    }
    50%{
        background-color: #1b6b50;
    }
    100%{
        background-color: #20a277;
    }
}

@keyframes link {
    0% {
        background-color: #6773b1;
    }
    50% {
        background-color: #71c1e8;
        border-radius: 30px;
    }
    100% {
        background-color: #6773b1;
    }
}

body {
    background-color: #6773b1;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    margin-top: 100px;
    background-color: #f3e998;
    color: black;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: small;
    width: 700px;
}
td {
    width: 400px;
    border-radius: 5px;
    border-color: #646A86;
    border-style:groove;
}

.hl {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.hl:hover {
    animation: link;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

h2 {
    text-align: center;
    margin-block-end: -80px;
    top: 55px;
    
}

#lista {
    margin-top: 50px;
    width: 900px;
    padding-top: 20px;
    color: white;
    border-radius: 30px;
    padding-block-end: 30px;
    margin: auto;
}
#imagemNav {
    position: absolute;
    top: 20px;
    margin: auto;
}

.cab {
    border-style: none;
    text-align: center;
}
img {
    width: 50px;
    display: block;
    margin: auto;
    
}

.contato {
    background-color: #20a277;
}

.contato:hover {
    animation: animacao;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#logo {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
    opacity: 0;
}

#logoD {
    width: 200px;
}

nav {
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(39, 39, 104);
}

#menu {
    border-style: none;
    background-image: url(image/cardapio.png);
    background-color: rgb(39, 39, 104);
    width: 30px;
    height: 30px;
}

#sideBar {
    position: absolute;
    text-align: center;
    background-color: white;
    width: 0px;
    height: 1000px;
    border-radius: 0 20px 20px 0;
}

#doador {
    color: black;
    text-decoration: none;
}

#itens {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 800px){
    table {
        width: auto;
        margin-top: 100px;
        background-color: #f3e998;
        color: black;
        border-radius: 10px;
        font-weight: bold;
        font-size: small;
    }

    #lista {
        margin-top: 50px;
        width: auto;
        padding-top: 20px;
        border-radius: 30px;
        padding-block-end: 30px;
    }
}