body {
    background-color: #a4aedf;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: large;
    margin-top: 20px;
}

table {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-inline: 0.5%;
    background-color: #5CB6F9;
    color: #252733;
    border-radius: 10px;
    border: none;
    font-size: small;
}
td {
    width: 400px;
    border-radius: 5px;
    border-color: #646A86;
    border-style:groove;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    margin-block-end: -80px;
    top: 55px;
    
}

#lista {
    margin-top: 50px;
    width: auto;
    background-color: rgb(218, 232, 248);
    padding-top: 20px;
    border-radius: 30px;
    padding-block-end: 30px;
}

.cab {
    border-style: none;
    text-align: center;
}
img {
    width: 50px;
    display: block;
    margin: auto;
    
}

.contato {
    background-color: #474b69;
}

#logo {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
}